.header{
    background: $light-green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $m-size;
    height: 50px;
    button{
        background: none;
        border: none;
        font-family: 'IBM Plex Mono', monospace;
        color: white;
    }
    @media (min-width: $desktop-breakpoint) {
        padding: 0 $l-size; 
    }
}

.header__title{
    text-decoration: none;
    color: $dark-grey;
    h1{
        margin: 0;
    }
}
