.header{
    background: $light-green;
    display: flex;
    justify-content: space-between;
    padding: 0 $m-size;
    button{
        background: none;
        border: none;
        font-family: 'IBM Plex Mono', monospace;
        color: white;
    }
}

.header__title{
    text-decoration: none;
    color: $dark-grey;
    h1{
        margin: 0;
    }
}
