@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
} 

body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
.is-active{
    font-weight: bold;
}